<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="row">
      <div class="large-12 large-centered columns">

        <header class="masthead">
          <img src="{{ site.baseurl }}/public/profile.jpg" alt="Abhilash John Philip">
        </header>

    </div>
  </div>

  <div class="row">

    <div class="large-6 large-offset-3 columns">

      <div class="content-section">

        <p>
Hi, there. I’m Abhilash John Philip. I’m a Product Management Professional. I am currently working as a Product Manager at Industrybuying.com. My interests range from entrepreneurship, technology to public policy. I am also interested in design, reading and education.
        </p>

        <p>
<p><strong>I have Co-founded two startups.</strong></p>
<ul>
<li><a href="http://purrx-univoe.rhcloud.com/">Univoe.com</a> :Univoe is a gamified social networking platform based on established intelligence theories and <a href="http://msde.gov.in/nsqf.html">National Skills Qualifications Framework (NSQF)</a> specifically designed for university students to help them identify their core skill sets and help them improve their hiring possibilities. It aims to replace the traditional and less credible resumes,with a validated and graphical profile helping recruiters understand candidates holistically and students better represent their skills.</li>
<li><a href="https://yourstory.com/2013/03/hedcet-a-student-startup-with-a-very-grown-up-offering/">Hedcet Technologies Pvt Ltd.</a><br>
<a href="http://www.thehindubusinessline.com/info-tech/will-tinymail-on-phone-make-mail-ids-redundant/article4646525.ece">HedCET</a> builds products and services in the internet/mobile industries.</li>
</ul>
<p><strong>Education</strong></p>
<ul>
<li>B.Tech in <a href="https://en.wikipedia.org/wiki/Industrial_engineering" target="_blank">Industrial Engineering</a> from <a href="https://en.wikipedia.org/wiki/College_of_Engineering,_Trivandrum">College of Engineering, Trivandrum</a></li>
<li><a href="http://gsl.mit.edu/program/india-iitb-summer-2013/">MIT AITI Startup Acceleration Program<br>
</a><a href="https://yourstory.com/2013/07/6-weeks-12-teams-mit-iit-mit-aiti-highlights-from-the-mumbai-demo-day/">MIT AITI</a> is an intensive 6 week part-time mobile/internet technology startup accelerator and software development workshop sponsored by the Massachusetts Institute of Technology (MIT) and Google.</li>
<li><a href="https://en.wikipedia.org/wiki/Jawahar_Navodaya_Vidyalaya">Jawahar Navodaya Vidyalaya</a>, Pathanamthitta</li>
</ul>
        
        </p>

        <p>
        </p>

      </div>

      <main>
     <!-----   <h2>Latest Work</h2>
        {% for post in site.posts %}
          <div class="project-post">
            <h3><a href="{{ post.git }}">{{ post.title }}</a></h3>
            {{ post.content }}
          </div>
        {% endfor %} ----->
      </main>

      <footer>
        <h2>Contact Me</h2>

        <p>
        Send me an <a href="mailto:abhilashjohn07@gmail.com?Subject=Hello,%20Abhilash!">email</a> or ping me on <a href="https://in.linkedin.com/in/abhilashjohnphilip">Linkedin</a>.
        </p>

        <p class="copyright">
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </br>
        <span>Generated by <a href="http://jekyllrb.com/">jekyll</a></span>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span>Hosted Using <a href="https://pages.github.com/">Github Pages</a></span>
        </p>
      </footer>

    </div>

    <div class="large-2 large-offset-1 columns social">
      <ul>
      <!--  <li><a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/{{ site.github }}"><i class="fa fa-github"></i></a></li>-->
        <li><a href="https://medium.com/@abhilashjp"><i class="fa fa-medium"></i></a></li>
        <li><a href="https://in.linkedin.com/in/abhilashjohnphilip/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
       <li><a href="https://www.instagram.com/abhilashjp/{{ site.instagram }}"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>

  </div>

    {% if site.google_analytics %}
     <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-85047587-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-85047587-1');
</script>

    {% endif %}

  </body>
</html>
